<h3>Lazy Loading</h3>

<ul>
  <li>
    <a routerLink="/auth/login">login</a>
  </li>
  <li>
    <a routerLink="/auth/forgot">forgot password</a>
  </li>
  <li>
    <a routerLink="/auth/register">register</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/productos/agregar">agregar</a>
  </li>
  <li>
    <a routerLink="/productos/editar">editar</a>
  </li>
  <li>
    <a routerLink="/productos/listado">listado</a>
  </li>
  <li>
    <a routerLink="/productos/productos">productos</a>
  </li>
</ul>



<router-outlet></router-outlet>
